doctype html
html
head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0")
    title 瓜子二手车
    link(rel="stylesheet" type="text/css" href="/public/c/flex.css")
    link(rel="stylesheet" type="text/css" href="/public/c/index.css")
    link(rel="stylesheet" type="text/css" href="/public/c/dropload.css")
    script(src="/public/j/zepto.min.js" type="text/javascript")
body
    block content
